
.arrangement-container {

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white;
    color: $darkGrey;
    min-height: 400px;

    .main-row {
        width: 100%;
        @media (max-width: 768px) {
            margin-left: 0 !important;
        }
        .arrangement-img-box {
            height: 100%;
            width: 100%;
            max-height: 425px;
            max-width: 425px;
            float: right;
            @media (max-width: 768px) {
                float: none;
                margin: auto;
            }
            .arrangement-pic {
                padding: 50%;
                background: grey;
                height: 100%;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                border-width: 0;
                border-color: $white;
                border-style: solid;
                border-radius: 4px;
            }
        }
    }

    .arrangement-inline {
        display: flex;
        justify-content: space-between;
        @media (max-width: 768px) {
            margin-top: 15px;
        }

        .button-to-market {
            background-color: $lightGrey;
            color: #b1b1b1;
            margin: 0 10px 10px;
            &:hover {
                background-color: $lightGreyhover;
            }
            display: inline-block;
            @media (max-width: 768px) {
                font-size: 60%;
                margin: 1px 1px 1px 1px; 
            }
        }
    
        .arrangement-name {
            color: $darkGrey;
            font-size: 170%;
            line-height: 150%;
            font-weight: 600;
            margin: 0 0 5px;
            display: inline-block;
            @media (max-width: 768px) {
                font-size: 100%;
            }
        }
    }

    .arrangement-florist-name {
        margin: 0 0 15px;
        a {
            color: $pink !important;
            &:hover {
                color: $darkpink;
            }
        }
        @media (max-width: 768px) {
            font-size: 80%;
        }
    }

    .arrangement-details-toggle {
        padding: 0;
        margin-left: 10px;
        li {
            text-align: center;
            color: #878787;
            display: inline-block;
            letter-spacing: .1em;
            font-size: 12px;
            min-width: 70px;
            margin: 0 10px 0 0;
            padding: 10px 3px 10px 3px;
            @media (max-width: 768px) {
                font-size: 11px;
            }
            &:hover {
                cursor: pointer;
                background: $shadowteal;
                border-radius: 3px;
                color: white;
            }
        }
        li.toggle-active {
            transition: background .2s;
            background: $teal;
            border-radius: 3px;
            color: white;
        }
    }

    .arrangement-info {
        min-height: 100px;
        margin: 0 1px 10px 15px;
        font-size: 85%;
        white-space: pre-line;
        @media (max-width: 768px) {
            font-size: 75%;
        }
    }

    .special-pickup-info-title {
        color: green;
        margin: 0 0 2px 15px;
        font-size: 85%;
        @media (max-width: 768px) {
            font-size: 75%;
        }
    }

    .special-pickup-info {
        color: green;
        min-height: 50px;
        margin: 0 0 10px 15px;
        font-size: 85%;
        @media (max-width: 768px) {
            font-size: 75%;
        }
    }

    .delivery-inline {
        margin: 15px 0;
        .select-delivery-block {
            display: inline-block;
            margin-left: 15px;
            @media (max-width: 768px) {
                margin-bottom: 5px;
            }
            .region-select-tip {
                color: $grey;
                font-size: 75%;
                font-weight: lighter;
                margin: 0 0 5px;
                font-family: 'Quicksand', sans-serif;
            }
            .region-select {
                height: 50px;
                border-radius: 0;
                background-image: none !important;
            }
        }
    }

    .select-date-block {
        display: inline-block;
        margin-left: 15px;
        @media (max-width: 768px) {
            margin-bottom: 5px;
        }
        .date-select-tip {
            color: $grey;
            font-size: 75%;
            font-weight: lighter;
            margin: 0 0 5px;
            font-family: 'Quicksand', sans-serif;
        }
        .DateInput {
            height: 50px;
        }
    }

    .price-inline {
        margin: 15px 0;
        .price-block {
            display: inline-block;
            margin-left: 15px;
            .arrangement-price {
                color: $darkGrey;
                font-size: 170%;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 140%;
                    line-height: 100%;
                }
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;
            }
            .arrangement-price-tip {
                color: $grey;
                font-size: 75%;
                font-weight: lighter;
                margin: 0 0 5px;
                font-family: 'Quicksand', sans-serif;
            }
        }
        .price-block-original {
            display: inline-block;
            margin-left: 15px;
            .arrangement-price {
                color: $darkGrey;
                text-decoration: line-through;
                font-size: 170%;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 140%;
                    line-height: 100%;
                }
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;
            }
            .arrangement-price-tip {
                color: $grey;
                font-size: 75%;
                font-weight: lighter;
                margin: 0 0 5px;
                font-family: 'Quicksand', sans-serif;
            }
        }
        .price-block-discounted {
            display: inline-block;
            margin-left: 15px;
            .arrangement-price {
                color: green;
                font-size: 170%;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 140%;
                    line-height: 100%;
                }
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;
            }
            .arrangement-price-tip {
                color: green;
                font-size: 75%;
                font-weight: lighter;
                margin: 0 0 5px;
                font-family: 'Quicksand', sans-serif;
            }
        }
        .delivery-fee-block {
            display: inline-block;
            margin-left: 15px;
            .arrangement-delivery-fee {
                color: $darkGrey;
                font-size: 170%;
                line-height: 120%;
                @media (max-width: 768px) {
                    font-size: 140%;
                    line-height: 100%;
                }
                font-weight: 600;
                font-family: 'Quicksand', sans-serif;
            }
            .arrangement-delivery-fee-tip{
                color: $grey;
                font-size: 75%;
                font-weight: lighter;
                margin: 0 0 5px;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }

    .button-box {
        margin-left: 15px;
    }

    .button-to-order, .button-to-search {
        width: 100%;
        background-color: $teal;
        color: white;
        font-size: 100%;
        font-weight: 500;
        &:hover {
            background-color: $shadowteal;
        }
    }

    .error-message {
        color: red;
        font-size: 85%;
        margin-left: 15px;
    }

    .arrangement-section-title {
        margin-top: 25px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 120%;
        margin-left: 50px;
        margin-right: 50px;
        @media (max-width: 768px) {
            font-size: 100%;
            margin: 10px;
        }
    }

    .promo-code-button {
        margin-left: 15px;
        background-color: $teal;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 0;
        &:hover {
            background-color: $shadowteal;
        }
    }
    .promo-code-collaspsible{
        margin-left: 15px;
        border-width: 0;
        box-shadow: none !important;
        .panel-body {
            padding: 0 !important;
        }
        .promo-code-inline {
            .form-group {
                display: inline-block;
                margin-bottom: 0;
                .form-control {
                    border-radius: 0;
                    height: inherit !important;
                    width: 225px;
                    @media (max-width: 768px) {
                        width: 170px;
                    }
                }
            }
            button {
                @include translateY(-2px);
                display: inline-block;
                border-radius: 0;
                background-color: $pink;
                color: white;
                height: inherit !important;
                font-size: 18px !important;
                font-weight: 500;
                &:hover {
                    background-color: $pinkhover;
                    
                }
            }
        }
        .promo-update-message {
            text-align: center;
            width: 100%;
            border-radius: 0;
            font-size: 75%;
            margin: auto;
            margin-bottom: 0 !important;
            padding: 5px !important;
        }
    }
}