.florist-header {

    width: 100%;
    background: #333333;

    .florist-info {
        max-width: 1000px;
        margin: auto;

        a {
            color: white !important;
            &:hover {
                color: white !important;
            }
        }

        @media (max-width: 768px) {
            padding: 1vh 1vw 1vh 1vw;
            text-align: center;
        }
        @media (min-width: 769px) {
            padding: 2vh 2vw 2vh 2vw;
            text-align: left;
        }
        .florist-pic-container {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            max-width: 8em;
            max-height: 8em;
            padding: .4em;
            margin-top: 1em;
            border-radius: 2px;
            background: #fff;
            overflow: hidden;
            @media (min-width: 576px) {
                max-width: 10em;
                max-height: 10em;
                padding: .5em;
                border-radius: 4px;
                margin-top: 0.5em;
                margin-right: 3em;
            }
            img {
                width: 100%;
            }
        }

        .justify-container {
            position: relative;
        }

        .florist-info-container {
            margin-left: 15px;
            text-align: left;
            display: inline-block;
            @media (max-width: 415px) {
                text-align: center;
                margin-left: 0 !important;
            }
            .florist-name {
                font-size: 120%;
                color: white;
                min-width: 250px;
            }
            .florist-type {
                font-size: 80%;
                color: white;
            }
            .florist-address {
                color: white;
                font-size: 80%;
            }
            .florist-website {
                color: white;
                font-size: 80%;
            }
            .florist-info-small-screen-social-container {
                margin-top: 10px;
                @media (max-width: 340px) {
                    margin-bottom: 5px;
                }
                .fa {
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 150%;
                }
            }
        }
        .florist-info-social-container {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: right;
            font-size: 200%;
            margin-right: 20px;
            .fa {
                margin-left: 10px;
            }
        }
    }
}

.grid-bg {
    background: #333333;

    .florist-nav {
        display: block;
        background: #333333;
        color: white;
        ul {
            list-style-type: none;
            overflow: hidden;
            margin: 0;
            padding: 0;

            li.selected {
                background: white;
                color: black;
            }

            li {
                float: left;
                text-align: center;
                text-decoration: none;
                padding: 11px 16px;
                @media (max-width: 768px) {
                    padding: 5px 10px;
                }
                &:hover {
                    background: white;
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
}

.sub-content {
    min-height: 400px;
    overflow: auto;
    margin-top: 25px;

    .review-inline {
        text-align: left;
        .reviewer {
            font-weight: bold;
            display: inline-block;
            margin-right: 3px;
        }
        .review-stars {
            font-size: 100%;
            display: inline-block;
            @include translateY(30%);
        }
    }
    .review-date {
        text-align: left;
        font-weight: bold;
        color: $grey;
        font-size: 70%;
    }
    .review-message {
        text-align: left;
        font-size: 85%;
    }
}