.gallery-nav {
    text-align: center;
    .gallery-nav-separator {
        font-size: 50%;
        @include translateY(-40%);
    }
    div { 
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none !important;
        @include transition (.4s ease-in-out);
        color: $black;
        font-size: 110%;
        &.flow-selected {
            color: $teal;
            @include transition (.4s ease-in-out);
        }
    }
    i {
        color: $darkGrey;
        text-decoration: none !important;
    }
    .nav-margin {
        margin-left: -1px !important;
        @media (max-width: 600px) {
            margin: 15px;
        }
    }
}

.gallery-container {
    background-color: $white;
    color: $darkGrey;
    padding: 20px;
    text-align: center;
    min-height: 400px;
    .small-screen-hide {
        @media (max-width: 600px) {
            display: none;
        }
    }
    .gallery-title {
        color: $darkpink;
        margin-top: 20px;
    }
    .horizontal-line {
        width: 90%;
        margin: 15px auto;
        background: #CCC;
        height: 2px;
    }
    .gallery-subtitle {
        margin-bottom: 20px;
    }
    .gallery-pic {
        padding: 0;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 5px;
        border-color: $white;
        border-style: solid;
    }
    .gallery-pic-s1 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs01.jpg?alt=media&token=890b397c-9c6c-47b0-8c73-70aa67ef40f6');
    }
    .gallery-pic-s2 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs02.jpg?alt=media&token=51ccf61d-d7ab-4908-adb1-10a9068ccb9c');
    }
    .gallery-pic-s3 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs03.jpg?alt=media&token=b6907626-2209-4e49-97e9-ef0935431cf7');
    }
    .gallery-pic-s4 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs04.jpg?alt=media&token=f9e3f0c5-94ad-439d-abf4-4c8f6395030e');
    }
    .gallery-pic-s5 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs05.jpg?alt=media&token=2bacd613-1757-478f-8b08-0ff3ec5228e8');
    }
    .gallery-pic-s6 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs06.jpg?alt=media&token=7955b937-3c1f-4e92-b072-5428020c915b');
    }
    .gallery-pic-s7 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs07.JPG?alt=media&token=7721cca9-805a-45a2-8cd4-f68d1011efc8');
    }
    .gallery-pic-s8 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs08.jpg?alt=media&token=9762fa61-6108-4fdc-aca6-ba650d368b8a');
    }
    .gallery-pic-s9 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Simple%2Fs09.jpg?alt=media&token=53fbebd1-6f6d-4f00-a588-1512261952c4');
    }
    .gallery-pic-m1 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm01.jpg?alt=media&token=aa54b65d-f8f6-4932-a002-712d34fcc89c');
    }
    .gallery-pic-m2 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm02.jpg?alt=media&token=092639c1-5e5d-4a1e-afdb-588e28b05291');
    }
    .gallery-pic-m3 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm03.jpg?alt=media&token=9b0a0ecb-3871-40d1-ac51-9103cb3fbf50');
    }
    .gallery-pic-m4 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm04.jpg?alt=media&token=8501b0e8-25bf-4281-b94e-5be9e7259d88');
    }
    .gallery-pic-m5 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm05.jpg?alt=media&token=f25b4d77-457d-41b7-9d54-04a75741fbb5');
    }
    .gallery-pic-m6 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm06.jpg?alt=media&token=429d151b-f9d4-4e30-9a11-74c323e667e9');
    }
    .gallery-pic-m7 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm07.jpg?alt=media&token=2f4540a5-933c-4112-a4e2-2f05adf97cb8');
    }
    .gallery-pic-m8 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm08.jpg?alt=media&token=352917ca-a974-4cd4-8f07-0379b8a9dbd6');
    }
    .gallery-pic-m9 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Elegant%2Fm09.jpg?alt=media&token=5b1d9bbd-4101-4c7b-a64d-e03b92787045');
    }
    .gallery-pic-b1 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb01.jpg?alt=media&token=59306dee-a2a9-49e6-8a1e-95ff5b972981');
    }
    .gallery-pic-b2 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb02.jpg?alt=media&token=dd84e724-7fa0-487d-b897-d526bffd4dfd');
    }
    .gallery-pic-b3 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb03.jpg?alt=media&token=471c9957-51c8-4471-b620-fbca014405d9');
    }
    .gallery-pic-b4 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb04.jpg?alt=media&token=ff35154a-323d-4b63-9b4b-465683701c46');
    }
    .gallery-pic-b5 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb05.jpg?alt=media&token=80cea7dc-9082-4b39-a1a7-fd960f215344');
    }
    .gallery-pic-b6 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb06.jpg?alt=media&token=6d7b0b91-dba4-49bd-b2c3-e39751492564');
    }
    .gallery-pic-b7 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb07.jpg?alt=media&token=5648d847-b4ff-4239-b6a1-f4fbde4b9467');
    }
    .gallery-pic-b8 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb08.jpg?alt=media&token=5a806bf5-d39e-4d44-bd14-35fc629ba600');
    }
    .gallery-pic-b9 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/Bloom%2Fb09.jpg?alt=media&token=6d988944-2a8c-4101-9d77-0768d4357185');
    }
    .gallery-pic-shade {
        background: $black;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .gallery-pic:hover .gallery-pic-shade {
        display: none;
    }
    .gallery-pic-text {
        color: $white;
        background: $darkpink;
        opacity: 0.9;
        text-align: center;
        padding: 15px;
        width: 100%;
        min-height: 20px;
        position: absolute;
        bottom: 0;
        display: none;
        .gallery-pic-title {
            font-weight: bold;
            font-size: 120%;
        }
    }
    .gallery-pic:hover .gallery-pic-text {
        display: block;
    }
    .plan-text {
        text-align: left;
    }
    .button {
        margin-left: 10px !important;
        margin-top: 15px !important;
        height: 40px !important;
        background-color: $pink !important;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $pinkhover !important;
        }
    }
}