.small-screen-hide {
    @media (max-width: 600px) {
        display: none !important;
    }
}

.large-screen-hide {
    @media (min-width: 601px) {
        display: none !important;
    }
}

.fa-check {
    opacity: 0;
}

.de-focus {
    opacity: 0.2;
}

.active {
    .fa-check.fa-white {
        color: white;
        opacity: 1;
    }
    .fa-check.fa-black {
        color: black;
        opacity: 1;
    }
}

.list-banner {
    height: 150px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/top-banner-grassfield.jpg?alt=media&token=2bdde886-dddf-4ca1-ae65-95d22ec5914c');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $lightGrey;
    text-align: center;
    @media (max-width: 768px) {
        height: 100px;
    }

    div.dropdown {
        top: 57px;
        display: inline-block;
        line-height: 35px;
        border-radius: 0;
        background-image: none !important;
        @media (max-width: 768px) {
            top: 30px;
        }
        .list-region-select {
            background-image: none;
            background-color: white !important;
        }
        .button {
            border-radius: 0;
            background-color: white;
        }
    }

    .region-select-button {
        position: relative;
        top: 50%;
        @include translateY(-58%);
        display: inline-block;
        margin-right: 10px;
        background-color: $shadowteal;
        color: white;
        border: none;
        line-height: 35px;
        border-radius: 4px;
        padding: 0 10px !important;
    }

    .white-text {
        position: relative;
        top: 50%;
        @include translateY(-50%);
        color: white;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        line-height: 35px;
    }
    .market-region {
        font-weight: bold;
        position: relative;
        top: 50%;
        @include translateY(-50%);
        color: white;
        background: $darkGreen;
        margin-right: 10px;
        border-radius: 4px;
        padding: 5px 10px;
        display: inline-block;
        cursor: pointer;
    }
}

.content-wrapper {
    position: relative;
    .filter-popup {
        position: absolute;
        padding: 24px !important;
        overflow-y: auto;
        background: white;
        box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15) !important;
        border-radius: 4px;
        border: 1px solid darkGrey;
        margin-top: 15px;
        z-index: 10;
        display: inline-block;

        .ais-RefinementList__itemLabel {
            color: $darkGrey;
        }

        .ais-RefinementList__itemCount {
            color: $darkGrey;
        }

        .ais-RefinementList__item input[type=checkbox]:checked~.ais-RefinementList__itemBox {
            background-color: $shadowteal;
        }
    }

    .pagination-box {
        text-align: center;
        .pagination {
            margin: auto;
            .ais-Pagination__root {
                border: none;
                box-shadow: none;
                .ais-Pagination__itemSelected {
                    background-color: $shadowteal;
                    a {
                        color: white !important;
                    }
                }
            }
        }
    }
}

.facet-wrapper {
    max-width: 850px;
    margin: 15px auto 15px auto;

    .ais-ClearAll__root {
        float: left;
        height: 33px;
    }

    .filter-toolbar {
        margin-left: 10px;

        .ais-ClearAll__root {
            background-color: $shadowteal;
        }

        .button-filter {
            background: white;
            color: $darkGrey;
            outline: none;
        }

        .button-filter-active {
            background: $shadowteal;
            outline: none;
            color: white;
            border: none;
            text-shadow: none;
        }

        .search-box {
            margin: 0 3px 0 5px;
            border-radius: 3px;
            display: inline-block;
            border:1px solid #CCC;
            height: 35px;
            .fa {
                margin-left: 5px;
                color: #CCC;
                float: left;
                @include translateY(50%);
            }
            .search-field{
                margin: auto 0 auto 5px;
                border: none;
                height: 33px;
                &:focus{
                    outline: none;
                }
            }
        }

    }
}

.list-container {
    margin: auto;
    max-width: 850px;
    background-color: $white;
    color: $darkGrey;
    text-align: center;
    min-height: 500px;
    overflow: auto;

    .list-pic {
        padding: 0;
        min-height: 250px;
        max-height: 300px;
        max-width: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 0;
        border-color: $white;
        border-style: solid;
        @media (max-width: 600px) {
            min-height: 150px;
        }
    }

    .list-item {
        margin-bottom: 20px;
        min-width: 140px;
        max-width: 300px;
        font-size: 90%;
        @media (max-width: 600px) {
            padding: 5px;
            margin-bottom: 5px;
        }
        a {
            color: black !important;
            &:hover {
                color: $darkpink !important;
            }
        }
    }

    .text-line {
        display: flex;
        justify-content: space-between;
        .list-name {
            text-align: left;
            margin-top: 5px;
            margin-left: 10px;
            font-weight: bold;
            @media (max-width: 600px) {
                margin-left: 1px;
                font-weight: 500;
                font-size: 80%;
            }
        }
        .list-price {
            margin-top: 5px;
            font-weight: bold;
            margin-right: 10px;
            @media (max-width: 600px) {
                margin-left: 1px;
                font-weight: 500;
                font-size: 80%;
            }
        }
    }

    .list-florist {
        text-align: left;
        margin-left: 10px;
        font-weight: lighter;
        font-size: 80%;
        @media (max-width: 600px) {
            margin-left: 1px;
            font-weight: lighter;
            font-size: 80%;
        }
    }

}