aside {
    float: left;
    margin-left: 1%;
    display: block;
}

.fa-check {
    opacity: 0;
}

.active {
    .fa-check.fa-white {
        color: white;
        opacity: 1;
    }
    .fa-check.fa-black {
        color: black;
        opacity: 1;
    }
}

.list-container {
    margin: 1%;
    max-width: 850px;
    background-color: $white;
    color: $darkGrey;
    padding: 5px auto;
    text-align: center;
    min-height: 400px;
    overflow: auto;
    .small-screen-hide {
        @media (max-width: 600px) {
            display: none;
        }
    }

    .list-pic {
        padding: 0;
        min-height: 250px;
        max-height: 300px;
        max-width: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-width: 0;
        border-color: $white;
        border-style: solid;
    }

    .list-item {
        margin-bottom: 20px;
        min-width: 140px;
        max-width: 300px;
        font-size: 90%;
        a {
            color: black !important;
            &:hover {
                color: $darkpink !important;
            }
        }
    }

    .text-line {
        display: flex;
        justify-content: space-between;
        .list-name {
            margin-top: 5px;
            margin-left: 10px;
            font-weight: bold;
        }
        .list-price {
            margin-top: 5px;
            font-weight: bold;
            margin-right: 10px;
        }
    }

    .list-florist {
        text-align: left;
        margin-left: 10px;
        font-weight: lighter;
        font-size: 80%;
    }

}