.update-message {
    text-align: center;
    width: 90%;
    border-radius: 0;
    font-size: 75%;
    margin: auto;
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.data-field-update {
    font-size: 18px !important;
}

.modal-content {
    .button {
        margin-left: 10px !important;
        margin-top: 15px !important;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px !important;
        background-color: $red ;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $redhover ;
        }
    }
    .button-back {
        background-color: $grey !important;
        &:hover {
            background-color: $greyhover !important;
        }
        a {
            color: $white !important;
        }
    }
}

.loggedin-background {
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-color: $lightGrey;
    background-color: $white;
    overflow: auto;

    .container {
        @media (max-width: 768px) {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    .loggedin-nav {
        margin-left: 10px;
        margin-right: 10px;
        color: $darkGrey;
        background-color:$white;
        min-width: 260px;
        // max-height: 300px;
        // max-width: 600px;
        padding-top: 10px;
        margin: auto;
        float: inherit !important;
        @media (max-width: 600px) {
            @include translateY(20px);
            padding-top: 0;
        }
        @media (min-width: 601px) {
            @include translateY(20px);
        }
        @media (max-width: 600px) {
            margin: auto;
        }
        @media (min-width: 601px) {
            margin: auto;
        }
        .loggedin-nav-button {
            text-align: center;
            a {
                text-decoration: none !important;
                @include transition (.4s ease-in-out);
                color: $darkGrey;
                cursor: pointer;
                &.nav-selected {
                    color: $darkpink;
                    @include transition (.4s ease-in-out);
                }
                &:hover {
                    color: $darkpinkhover;
                    text-decoration: none !important;
                    @include transition (.4s ease-in-out);
                }
            }
            .nav-icon-title {
                @media (max-width: 600px) {
                    font-size: 70%;
                }
                @media (min-width: 601px) {
                    font-size: 100%;
                }
            }
        }
    }
    .loggedin-flow {
        text-align: center;
        div { 
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none !important;
            @include transition (.4s ease-in-out);
            color: $black;
            &.flow-selected {
                color: $teal;
                font-weight: bold;
                @include transition (.4s ease-in-out);
            }
        }
        .flow-nav {
            cursor: pointer;
        }
        i {
            color: $darkGrey;
            text-decoration: none !important;
        }
        .horizontal-line {
            width: 90%;
            margin: 15px auto;
            background: #CCC;
            height: 2px;
        }
    }
    .loggedin-margin-box {
        margin-left: 0 !important;
        margin-right: 0 !important;
        .loggedin-content {
            color: $darkGrey;
            background-color:$white;
            min-height: 800px;
            min-width: 260px;
            // max-height: 300px;
            // max-width: 600px;
            padding-top: 20px;
            margin: auto;
            float: inherit !important;
            @media (max-width: 600px) {
                @include translateY(20px);
                padding-top: 0;
            }
            @media (min-width: 601px) {
                @include translateY(20px);
            }
            @media (max-width: 600px) {
                margin: auto;
            }
            @media (min-width: 601px) {
                margin: auto;
            }
            .center-text {
                text-align: center;
            }
            .row {
                margin: 0 auto;
            }
            .dropdown{
                width: 100%;
                max-width: 375px;
                button {
                    width: 100%;
                }
            }

            .cardMessage {
                width: 100% !important;
                min-height: 150px;
            }
            .recipientAddress {
                width: 100% !important;
                min-height: 100px;
            }
            .deliveryInstruction {
                width: 100% !important;
                min-height: 100px;
            }
            .button {
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                @media (max-width: 768px) {
                    margin-top: 1px !important;
                    margin-bottom: 1px !important;                    
                }
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-new-sub {
                float: right;
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-back {
                background-color: $grey !important;
                &:hover {
                    background-color: $greyhover !important;
                }
                a {
                    color: $white !important;
                }
            }
            .horizontal-line {
                width: 100%;
                margin: 15px auto;
                background: #CCC;
                height: 2px;
            }

            .order-list-titles, .address-list-titles {
                background-color: $pink;
                color: white;
                padding: 10px;
                margin-bottom: 1px;
                @media (max-width: 768px) {
                    font-size: 70%;
                }
            }

            .order-list-item, .address-list-item {
                border-bottom: 1px solid;
                border-color: $darkGrey;
                padding: 10px 10px 10px 10px;
                margin: 1px auto;
                color: black;
                background: white;
                &:hover {
                    background: $lightGreyhover;
                    cursor: pointer;
                }
                div[class^="col-"] {
                    white-space: nowrap;
                    overflow: hidden;
                    @media (max-width: 768px) {
                        font-size: 70%;
                    }
                }
            }
        }
    }

    .head-button-inline {
        text-align: center;
    }

    .head-button-section {
        display: inline-block;
    }

    .no-sub-section, .no-order-section, .head-button-section {
        text-align: center;
        margin: 0 10px;
        .no-sub-button, .no-order-button {
            margin-top: 40px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $pink ;
            font-weight: bold !important;
            color: $white !important;
            @media (max-width: 748px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
                background-color: $pinkhover ;
            }
        }
        .head-button-white {
            margin-top: 10px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $white ;
            font-weight: bold !important;
            border-width: 2px;
            border-color: $darkGrey;
            color: $darkGrey !important;
            @media (max-width: 748px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 100px !important;
                height: 30px !important;
            }
            &:hover {
                background-color: $pinkhover;
                color: white !important;
                border-color: $pinkhover;
            }
        }
        .head-button-pink {
            margin-top: 10px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $pink ;
            font-weight: bold !important;
            color: $white !important;
            outline: none;
            @media (max-width: 748px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 100px !important;
                height: 30px !important;
            }
            &:hover {
                cursor: default !important;
                outline: none;
            }
        }
    }

    .order-details, .address-details, .account-details {

        .row {
            margin: 5px auto !important;
            @media (max-width: 768px) {
                font-size: 80%;
            }
            &:first-child {
                @media (max-width: 768px) {
                    margin-bottom: 15px !important;
                }
            }
        }

        .address-delete-button {
            color: white;
            background: red;
        }

        .order-details-inline {
            @include translateY(-20%);
            .order-details-status {
                display: inline-block;
            }
            .order-details-button-box {
                display: inline-block;
                margin-left: 130px;
                @media (max-width: 768px) {
                    margin-left: 70px
                }
                @media (min-width: 769px) and (max-width: 992px) {
                    margin-left: 100px
                }
                .order-details-review-button {
                    background-color: $pink;
                    color: white;
                    padding: 5px;
                    font-size: 80%;
                    &:hover {
                        background-color: $pinkhover;
                    }
                }
            }
        }
    }

    .sub-succeed, .order-succeed {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        color: $teal;
    }
}
