.login-image {
    min-height: 740px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/background-flower1.jpg?alt=media&token=cae14480-2554-4660-beec-a64cb378e9f8');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $lightGrey;
    .login-margin-box {
        margin-left: 10px;
        margin-right: 10px;  
        .login-image-prompt {
            color: $darkGrey;
            background-color:rgba(250,250,250,0.8);
            min-height: 200px;
            min-width: 260px;
            // max-height: 300px;
            max-width: 450px;
            padding: 20px;
            margin: auto;
            float: inherit !important;
            @media (max-width: 600px) {
                @include translateY(10%);
            }
            @media (min-width: 601px) {
                @include translateY(40%);
            }
            @media (max-width: 600px) {
                margin: auto;
            }
            @media (min-width: 601px) {
                margin: auto;
            }
            .login-title {
                text-align: center;
            }
            .login-subtitle {
                text-align: center;
                font-size: 80%;
                margin-bottom: 20px;
            }
            .horizontal-line {
                width: 30%;
                margin: 20px auto;
                background: #CCC;
                height: 1px;
            }
            .login-error {
                text-align: center;
                border-radius: 0;
                font-size: 75%;
                margin-bottom: 0 !important;
                padding: 5px !important;
            }
            .login-form-field {
                background-color: $white !important;
                border-radius: 0 !important;
                height: 55px !important;
                padding: 8px !important;
            }
            .button {
                // margin: 5px !important;
                height: 50px !important;
                width: 100% !important;
                border-color: $pink !important;
                background-color: $pink !important;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover !important;
                }
            }
            .link-group {
                padding: 15px;
                display: block;
                font-size: 65%;
                .link-forgot-pw {
                    float: left;
                    color: $black !important;
                }
                .link-create-account {
                    float: right;
                    color: $black !important;
                }
            }
            .link-group-register {
                padding-top: 15px;
                padding-bottom: 0;
                text-align: center;
                display: block;
                font-size: 80%;
                .link-login {
                    color: $black !important;
                }
            }
        }
    }
}