.update-message {
    text-align: center;
    width: 90%;
    border-radius: 0;
    font-size: 75%;
    margin: auto;
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.data-field-update {
    font-size: 18px !important;
}

.modal-content {
    .button {
        margin-left: 10px !important;
        margin-top: 15px !important;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px !important;
        background-color: $red ;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $redhover ;
        }
    }
    .button-back {
        background-color: $grey !important;
        &:hover {
            background-color: $greyhover !important;
        }
        a {
            color: $white !important;
        }
    }
}

.loggedin-background {
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-color: $lightGrey;
    background-color: $white;
    overflow: auto;
    .loggedin-nav {
        margin-left: 10px;
        margin-right: 10px;
        color: $darkGrey;
        background-color:$white;
        min-width: 260px;
        // max-height: 300px;
        // max-width: 600px;
        padding-top: 20px;
        margin: auto;
        float: inherit !important;
        @media (max-width: 600px) {
            @include translateY(20px);
            padding-top: 0;
        }
        @media (min-width: 601px) {
            @include translateY(20px);
        }
        @media (max-width: 600px) {
            margin: auto;
        }
        @media (min-width: 601px) {
            margin: auto;
        }
        .loggedin-nav-button {
            text-align: center;
            a {
                text-decoration: none !important;
                @include transition (.4s ease-in-out);
                color: $darkGrey;
                cursor: pointer;
                &.nav-selected {
                    color: $darkpink;
                    @include transition (.4s ease-in-out);
                }
                &:hover {
                    color: $darkpinkhover;
                    text-decoration: none !important;
                    @include transition (.4s ease-in-out);
                }
            }
            .nav-icon-title {
                @media (max-width: 600px) {
                    font-size: 70%;
                }
                @media (min-width: 601px) {
                    font-size: 100%;
                }
            }
        }
    }
    .loggedin-flow {
        text-align: center;
        div { 
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none !important;
            @include transition (.4s ease-in-out);
            color: $black;
            &.flow-selected {
                color: $teal;
                font-weight: bold;
                @include transition (.4s ease-in-out);
            }
        }
        i {
            color: $darkGrey;
            text-decoration: none !important;
        }
        .horizontal-line {
            width: 90%;
            margin: 15px auto;
            background: #CCC;
            height: 2px;
        }
    }
    .loggedin-margin-box {
        margin-left: 0 !important;
        margin-right: 0 !important;
        .loggedin-content {
            color: $darkGrey;
            background-color:$white;
            min-height: 800px;
            min-width: 260px;
            // max-height: 300px;
            // max-width: 600px;
            padding-top: 20px;
            margin: auto;
            float: inherit !important;
            @media (max-width: 600px) {
                @include translateY(20px);
                padding-top: 0;
            }
            @media (min-width: 601px) {
                @include translateY(20px);
            }
            @media (max-width: 600px) {
                margin: auto;
            }
            @media (min-width: 601px) {
                margin: auto;
            }
            .center-text {
                text-align: center;
            }
            .container {
                width: 100% !important;
            }
            .row {
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .dropdown{
                width: 100%;
                max-width: 375px;
                button {
                    width: 100%;
                }
            }
            .subscription-tips {
                font-size: 75%;
                a {
                    text-decoration: none !important;
                    @include transition (.4s ease-in-out);
                    color: $pink;
                    cursor: pointer;
                    &:hover {
                        color: $pinkhover;
                        text-decoration: none !important;
                        @include transition (.4s ease-in-out);
                    }
                }
            }
            .cardMessage {
                width: 100% !important;
                min-height: 150px;
            }
            .recipientAddress {
                width: 100% !important;
                min-height: 100px;
            }
            .deliveryInstruction {
                width: 100% !important;
                min-height: 100px;
            }
            .button {
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-new-sub {
                float: right;
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-back {
                background-color: $grey !important;
                &:hover {
                    background-color: $greyhover !important;
                }
                a {
                    color: $white !important;
                }
            }
            .horizontal-line {
                width: 90%;
                margin: 15px auto;
                background: #CCC;
                height: 2px;
            }
            .sub-list-item {
                border-color: $pink !important;
                border: solid;
                border-radius: 10px;
                padding: 10px;
                margin: 15px auto;
                .sub-details-button {
                    margin: 0 !important;
                    
                }
                .sub-details-back {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    margin-left: 10px !important;
                    display: inline-block !important;
                    background-color: $grey !important;
                    &:hover {
                        background-color: $greyhover !important;
                    }
                }
                .sub-details-update {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    margin-left: 10px !important;
                    display: inline-block !important;
                }
                .sub-details-unsub{
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    padding: 5px !important;
                    display: inline-block !important;
                    background-color: $red !important;
                    color: $white !important;
                    font-weight: bold;
                    &:hover {
                        background-color: $redhover !important;
                    }
                }
                .card-text-area {
                    min-height: 200px;
                }
            }
        }
    }
    .no-sub-section {
        text-align: center;
        .no-sub-button {
            margin-top: 40px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $pink ;
            font-weight: bold !important;
            color: $white !important;
            &:hover {
                background-color: $pinkhover ;
            }
        }
    }
    .sub-succeed {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        color: $teal;
    }
}
