.update-message {
    text-align: center;
    width: 90%;
    border-radius: 0;
    font-size: 75%;
    margin: auto;
    margin-bottom: 0 !important;
    padding: 5px !important;
}

.data-field-update {
    font-size: 18px !important;
}

textarea.data-field-update {
    min-height: 100px;
    font-size: 95% !important;
}

.data-field-description {
    font-size: 18px !important;
}

textarea.data-field-description {
    min-height: 150px;
    font-size: 95% !important;
}

.order-login-page {
    .login-title {
        text-align: left;
    }
    .login-error {
        text-align: center;
        border-radius: 0;
        font-size: 75%;
        margin-bottom: 0 !important;
        padding: 5px !important;
    }
    .login-form-field {
        background-color: $white !important;
        border-radius: 0 !important;
        height: 55px !important;
        padding: 8px !important;
    }
    .order-tips {
        margin-top: 5px;
        font-size: 85%;
        @media (max-width: 768px) {
            font-size: 75%;
        }
    }
    .button {
        // margin: 5px !important;
        height: 50px !important;
        width: 100% !important;
        border-color: $pink !important;
        background-color: $pink !important;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $pinkhover !important;
        }
    }
    .login-link-group {
        display: block;
        font-size: 75%;
        @media (max-width: 768px) {
            margin-top: 5px;
        }
        .link-forgot-pw {
            float: left;
            color: $black !important;
        }
        .link-create-account {
            float: right;
            color: $black !important;
        }
    }
    .login-link-group-register {
        display: block;
        text-align: center;
        font-size: 75%;
        @media (max-width: 768px) {
            margin-top: 5px;
        }
        .link-login {
            color: $black !important;
        }
    }
    .link-group-register {
        padding-top: 15px;
        padding-bottom: 0;
        text-align: center;
        display: block;
        font-size: 80%;
        .link-login {
            color: $black !important;
        }
    }
    .vertical-line {
        height: 500px;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        border-right: 1px solid $grey;
    }
    .login-form {
        float: left;
        width: 275px;
        #login-button {
            margin-left: 0 !important;
        }
        @media (max-width: 768px) {
            float: none;
            margin: auto
        }
    }
    .guest-check-out-form {
        float: right;
        width: 275px;
        #login-button {
            margin-left: 0 !important;
        }
        @media (max-width: 768px) {
            float: none;
            margin: auto;
            padding-bottom: 15px;
            border-bottom: 1px solid $grey;
        }
    }
}

.modal-content {
    .selected-import-address {
        @media (max-width: 768px) {
            font-size: 70%;
        }
    }
    .container {
        width: 100% !important;
        .import-list-titles {
            background-color: $pink;
            color: white;
            margin-left: -25px;
            margin-right: -25px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-bottom: 1px;

            @media (max-width: 768px) {
                font-size: 70%;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .import-list-item {
            border-bottom: 1px solid;
            border-color: $darkGrey;
            padding-top: 10px; 
            padding-bottom: 10px;
            margin: 1px auto;
            color: black;
            background: white;
            margin-left: -25px;
            margin-right: -25px;
            @media (max-width: 768px) {
                padding-top: 5px; 
                padding-bottom: 5px;
            }
            &:hover {
                background: $lightGreyhover;
                cursor: pointer;
            }
            .import-address-name {
                margin-left: 10px;
            }
            div[class^="col-"] {
                white-space: nowrap;
                overflow: hidden;
                @media (max-width: 768px) {
                    font-size: 70%;
                }
            }
        }
    }
    .button {
        margin-top: 15px !important;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px !important;
        background-color: $red ;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $redhover ;
        }
    }
    .button-pink {
        margin-top: 15px !important;
        padding-left: 20px;
        padding-right: 20px;
        height: 40px !important;
        background-color: $pink ;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $pinkhover ;
        }
    }
    .button-back {
        background-color: $grey !important;
        &:hover {
            background-color: $greyhover !important;
        }
        a {
            color: $white !important;
        }
    }
    .row {
        margin-bottom: 5px;
    }
    .region-list-item {
        line-height: 200%;
        div[class^="col-"] {
            @media (max-width: 768px) {
                font-size: 80%;
            }
        }
        button {
            @media (max-width: 768px) {
                font-size: 80%;
            }
            @include translateY(-10%);
        }
    }
}

.loggedin-background {
    min-height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-color: $lightGrey;
    background-color: $white;
    overflow: auto;

    .container {
        @media (max-width: 768px) {
            padding-right: 5px;
            padding-left: 5px;
        }
        .row {
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        .import-button {
            color: white;
            background: $pink;
            font-weight: bold;
            &:hover {
                background: $pinkhover;
            }
            @media (max-width: 768px) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }

    .checkbox {
        font-size: 85%;
        @media (max-width: 768px) {
            font-size: 75%;
        }
    }

    .loggedin-nav {
        margin-left: 10px;
        margin-right: 10px;
        color: $darkGrey;
        background-color:$white;
        min-width: 260px;
        // max-height: 300px;
        // max-width: 600px;
        padding-top: 30px;
        margin: auto;
        float: inherit !important;
        @media (max-width: 600px) {
            @include translateY(0);
            padding-top: 10px;
        }
        @media (min-width: 601px) {
            @include translateY(0);
        }
        .loggedin-nav-button {
            text-align: center;
            a {
                text-decoration: none !important;
                @include transition (.4s ease-in-out);
                color: $darkGrey;
                cursor: pointer;
                &.nav-selected {
                    color: $darkpink;
                    @include transition (.4s ease-in-out);
                }
                &:hover {
                    color: $darkpinkhover;
                    text-decoration: none !important;
                    @include transition (.4s ease-in-out);
                }
            }
            .nav-icon-title {
                @media (max-width: 600px) {
                    font-size: 70%;
                }
                @media (min-width: 601px) {
                    font-size: 100%;
                }
            }
        }
    }
    .loggedin-flow {
        text-align: center;
        @media (max-width: 768px) {
            font-size: 85%;
        }
        div { 
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none !important;
            @include transition (.4s ease-in-out);
            color: $black;
            &.flow-selected {
                color: $teal;
                font-weight: bold;
                @include transition (.4s ease-in-out);
            }
        }
        .flow-nav {
            cursor: pointer;
        }
        i {
            color: $darkGrey;
            text-decoration: none !important;
        }
        .horizontal-line {
            width: 90%;
            margin: 15px auto;
            background: #CCC;
            height: 2px;
            @media (max-width: 768px) {
                margin: 5px auto !important;
            }
        }
    }
    .loggedin-margin-box {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .loggedin-content-suppressed {
            min-height: 0 !important;
        }
        
        .loggedin-content {
            color: $darkGrey;
            background-color:$white;
            min-height: 800px;
            min-width: 260px;
            // max-height: 300px;
            // max-width: 600px;
            padding-top: 20px;
            margin: auto;
            float: inherit !important;
            @media (max-width: 600px) {
                @include translateY(0);
                padding-top: 0;
            }
            @media (min-width: 601px) {
                @include translateY(0);
            }
            .center-text {
                text-align: center;
            }
            .row {
                margin: 0 auto;
            }
            .dropdown{
                width: 100%;
                // max-width: 375px;
                button {
                    width: 100%;
                }
            }
            .order-tips {
                font-size: 85%;
                @media (max-width: 768px) {
                    font-size: 75%;
                }
                a {
                    color: $darkpink;
                }
            }
            .cardMessage {
                width: 100% !important;
                min-height: 150px;
            }
            .recipientAddress {
                width: 100% !important;
                min-height: 100px;
            }
            .deliveryInstruction {
                width: 100% !important;
                min-height: 100px;
            }
            .button {
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                @media (max-width: 768px) {
                    margin-top: 1px !important;
                    margin-bottom: 1px !important;                    
                }
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-new-sub {
                float: right;
                margin-left: 10px !important;
                margin-top: 15px !important;
                margin-bottom: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-back {
                background-color: $grey !important;
                &:hover {
                    background-color: $greyhover !important;
                }
                a {
                    color: $white !important;
                }
            }
            .horizontal-line {
                width: 100%;
                margin: 15px auto;
                background: #CCC;
                height: 2px;
            }
            .order-list-titles, .address-list-titles, .ordersdashboard-list-titles, .designs-list-titles, .import-list-titles, .registration-list-titles {
                background-color: $pink;
                color: white;
                padding: 10px;
                margin-bottom: 1px;
                @media (max-width: 768px) {
                    font-size: 70%;
                }
            }
            .order-list-item, .address-list-item, .ordersdashboard-list-item, .design-list-item, .import-list-item, .registration-list-item {
                border-bottom: 1px solid;
                border-color: $darkGrey;
                padding: 10px 10px 10px 10px;
                margin: 1px auto;
                color: black;
                background: white;
                &:hover {
                    background: $lightGreyhover;
                    cursor: pointer;
                }
                div[class^="col-"] {
                    white-space: nowrap;
                    overflow: hidden;
                    @media (max-width: 768px) {
                        font-size: 70%;
                    }
                }
            }
            .new-design-button-box {
                text-align: center;
                color: $darkpink;
                font-size: 300%;
                i {
                    cursor: pointer;
                    &:hover {
                        color: $darkpinkhover;

                    }
                }
            }
        }
    }

    .head-button-inline {
        text-align: center;
    }

    .head-button-section {
        display: inline-block;
    }

    .no-sub-section, .no-order-section, .head-button-section {
        text-align: center;
        margin: 0 10px;
        .no-sub-button, .no-order-button {
            margin-top: 40px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $pink ;
            font-weight: bold !important;
            color: $white !important;
            @media (max-width: 748px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            &:hover {
                background-color: $pinkhover ;
            }
        }
        .head-button-white {
            margin-top: 10px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $white ;
            font-weight: bold !important;
            border-width: 2px;
            border-color: $darkGrey;
            color: $darkGrey !important;
            @media (max-width: 748px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 100px !important;
                height: 30px !important;
            }
            &:hover {
                background-color: $tealhover;
                color: white !important;
                border-color: $tealhover;
            }
        }
        .head-button-teal {
            margin-top: 10px !important;
            padding-left: 20px;
            padding-right: 20px;
            width: 150px !important;
            height: 40px !important;
            background-color: $teal ;
            font-weight: bold !important;
            color: $white !important;
            outline: none;
            @media (max-width: 748px) {
                padding-left: 5px;
                padding-right: 5px;
                width: 100px !important;
                height: 30px !important;
            }
            &:hover {
                cursor: default !important;
                outline: none;
            }
        }
    }

    .order-details, .address-details, .account-details, .ordersdashboard-details, .shop-info-details, .design-details, .review-order, .order-succeed-section, .registration-details {

        #shop-link {
            color: $darkpink !important;
        }
        
        .row {
            margin: 5px auto !important;
            @media (max-width: 768px) {
                font-size: 80%;
            }
            &:first-child {
                @media (max-width: 768px) {
                    margin-bottom: 15px !important;
                }
            }
        }
        .help-block {
            font-size: 85% !important;
            margin: none !important;
        }

        .ordersdashboard-update-button, .shop-settings-button, .setting-button, .design-delete-button {
            color: white;
            background: $red;
            font-weight: bold;
            &:hover {
                background: $redhover;
            }
            @media (max-width: 768px) {
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }

        .address-delete-button {
            color: white;
            background: $red;
            font-weight: bold;
            &:hover {
                background: $redhover;
            }
        }

        .setting-button {
            color: white;
            background: $pink;
            font-weight: bold;
            &:hover {
                background: $pinkhover;
            }
        }

        .order-details-inline {
            @include translateY(-20%);
            .order-details-status {
                display: inline-block;
            }
            .order-details-button-box {
                display: inline-block;
                margin-left: 130px;
                @media (max-width: 768px) {
                    margin-left: 70px
                }
                @media (min-width: 769px) and (max-width: 992px) {
                    margin-left: 100px
                }
                .order-details-review-button {
                    background-color: $pink;
                    color: white;
                    padding: 5px;
                    font-size: 80%;
                    &:hover {
                        background-color: $pinkhover;
                    }
                }
            }
        }
    }

    .sub-succeed, .order-succeed {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        text-align: center;
        color: $teal;
    }

}

.original-price {
    text-decoration: line-through;
}

.discounted-price {
    color: green;
}

.modal-calendar {
    display: flex;
    justify-content: center;

}
