.order-history-florist-name {
    margin: 0 0 0;
    a {
        color: $pink !important;
        &:hover {
            color: $darkpink;
        }
    }
}

.history-text-area {
    min-height: 100px;
}