.design-detail-arrangement-pic {
    padding: 0;
    min-height: 250px;
    max-height: 300px;
    max-width: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 0;
    border-color: $white;
    border-style: solid;
}

.AvatarCropper-canvas {
    canvas {
        width: 200px;
        height: 200px;
    }
}