.loggedin-background {
    min-height: 740px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    // background-color: $lightGrey;
    background-color: $white;
    overflow: scroll;
    .loggedin-nav {
        margin-left: 10px;
        margin-right: 10px;
        color: $darkGrey;
        background-color:$white;
        min-width: 260px;
        // max-height: 300px;
        // max-width: 600px;
        padding-top: 20px;
        margin: auto;
        float: inherit !important;
        @media (max-width: 600px) {
            @include translateY(20px);
        }
        @media (min-width: 601px) {
            @include translateY(20px);
        }
        @media (max-width: 600px) {
            margin: auto;
        }
        @media (min-width: 601px) {
            margin: auto;
        }
        .loggedin-nav-button {
            text-align: center;
            a {
                text-decoration: none !important;
                @include transition (.4s ease-in-out);
                color: $darkGrey;
                cursor: pointer;
                &.nav-selected {
                    color: $darkpink;
                    @include transition (.4s ease-in-out);
                }
                &:hover {
                    color: $darkpinkhover;
                    text-decoration: none !important;
                    @include transition (.4s ease-in-out);
                }
            }
            .nav-icon-title {
                @media (max-width: 600px) {
                    font-size: 70%;
                }
                @media (min-width: 601px) {
                    font-size: 100%;
                }
            }
        }
    }
    .loggedin-flow {
        text-align: center;
        div { 
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none !important;
            @include transition (.4s ease-in-out);
            color: $black;
            &.flow-selected {
                color: $teal;
                font-weight: bold;
                @include transition (.4s ease-in-out);
            }
        }
        i {
            color: $darkGrey;
            text-decoration: none !important;
        }
        .horizontal-line {
            width: 90%;
            margin: 15px auto;
            background: #CCC;
            height: 2px;
        }
    }
    .loggedin-margin-box  {
        margin-left: 0 !important;
        margin-right: 0 !important;
        .loggedin-content {
            color: $darkGrey;
            background-color:$white;
            min-height: 200px;
            min-width: 260px;
            // max-height: 300px;
            // max-width: 600px;
            padding-top: 20px;
            margin: auto;
            float: inherit !important;
            @media (max-width: 600px) {
                @include translateY(20px);
            }
            @media (min-width: 601px) {
                @include translateY(20px);
            }
            @media (max-width: 600px) {
                margin: auto;
            }
            @media (min-width: 601px) {
                margin: auto;
            }
            .container {
                width: 100% !important;
            }
            .row {
                margin-bottom: 10px;
                margin-top: 10px;
            }
            .dropdown{
                width: 100%;
                max-width: 375px;
                button {
                    width: 100%;
                }
            }
            .subscription-tips {
                font-size: 75%;
            }
            .cardMessage {
                width: 100% !important;
                min-height: 150px;
            }
            .recipientAddress {
                width: 100% !important;
                min-height: 150px;
            }
            .button {
                margin-left: 10px !important;
                margin-top: 15px !important;
                padding-left: 20px;
                padding-right: 20px;
                height: 40px !important;
                background-color: $pink ;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover ;
                }
            }
            .button-back {
                background-color: $grey !important;
                &:hover {
                    background-color: $greyhover !important;
                }
            }
            .horizontal-line {
                width: 90%;
                margin: 15px auto;
                background: #CCC;
                height: 2px;
            }
            .sub-list-item {
                border-color: $pink !important;
                border: solid;
                border-radius: 10px;
                padding: 10px;
                width: 90%;
                margin: 15px auto;
                .sub-details-button {
                    margin: 0 !important;
                    
                }
                .sub-details-back {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    margin-left: 10px !important;
                    display: inline-block !important;
                    
                }
                .sub-details-update {
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                    margin-left: 10px !important;
                    display: inline-block !important;
                }
            }
        }
    }
}
