.text-page-container {
    background-color: $white;
    color: $black;
    padding: 20px;
    text-align: center;
    min-height: 400px;
    font-size: 90%;
    .text-page-about {
        background-color: $white;
        color: $darkGrey;
        padding: 20px;
        text-align: center;
        min-height: 400px;
        .text-page-title {
            color: $darkpink;
        }
        a {
            color: $darkpink !important;
        }
        .text-page-text {
            text-align: left;
        }
        .text-page-button-div {
            text-align: center !important;
            .button {
                margin-top: 15px !important;
                height: 35px !important;
                background-color: $pink !important;
                font-weight: bold !important;
                color: $white !important;
                &:hover {
                    background-color: $pinkhover !important;
                }
            }
        }
    }
}