@import "_config.scss";
@import "_regionSelect.scss";
@import "_login.scss";
@import "_loggedIn.scss";
@import "_gallery.scss";
@import "_textPages.scss";
@import "_list.scss";
@import "_florist.scss";
@import "_arrangement.scss";
@import "_orderHistory.scss";
@import "_photoUpload.scss";

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
} @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-absolute {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-padding {
    padding: 0;
}

header {
    position: relative;
    display: block;
    width: 100%;
    background: $white;
    color: $black;
    height: 70px;
    border-bottom: solid $lightGrey;
    border-width: 1px;
    .logo a {
        position: absolute;
        top: 50%;
        left: 15px;
        color: $black;
        font-size: 150%;
        font-weight: bold;
        @include translateY(-50%);
    }
    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }
    nav .button {
        border-color: $darkpink !important;
        background-color: $darkpink !important;
        color: $white !important;
        @media (max-width: 600px) {
            height: 40px !important;
            padding: 5px !important;
            margin: 2px !important;
        }
        @media (min-width: 601px) {
            margin: 5px !important;
            height: 50px !important;
            font-weight: bold !important;
        }
        &:hover {
            background-color: $darkpinkhover !important;
        }
    }
    nav {
        position: absolute;
        top: 50%;
        @media (max-width: 600px) {
            right: 5px;
        }
        @media (min-width: 601px) {
            right: 15px;
        }
        @include translateY(-50%);    
        ul li {
            list-style-type: none;
            display: inline-block;
            a {
                line-height: normal;
                color: $darkGrey;
                margin-right: 20px;
                &:hover {
                    color:$black;
                }
            }
        }
    }
}

.home-image {
    height: 555px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/OneBloomHome.jpg?alt=media&token=e365bfdd-3791-40c0-aae7-8d570bb5e8d0');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $lightGrey;
    .home-image-prompt {
        background-color:rgba(250,250,250,0.8);
        text-align: center;
        float: right;
        min-height: 200px;
        min-width: 260px;
        max-height: 300px;
        max-width: 400px;
        padding: 20px;
        margin-right: 20px;
        margin-left: 20px;
        @media (max-width: 600px) {
            @include translateY(20%);
        }
        @media (min-width: 601px) {
            @include translateY(70%);
        }
        .home-image-title {
            color: $darkGrey;
            font-weight: bold;
        }
        .home-image-pink {
            color: $darkpink;
            font-size: 80%;
        }
        .home-image-select {
            margin-top: 15px;
            width: 240px;
            background-color: $white;
            background-position: 0 !important;
        }
        .dropdown {
            .dropdown-menu {
                width: 240px;
                max-height: 250px;
                overflow: scroll;
            }
        }
        .button {
            margin-left: 10px !important;
            margin-top: 15px !important;
            height: 35px !important;
            background-color: $pink !important;
            font-weight: bold !important;
            color: $white !important;
            &:hover {
                background-color: $pinkhover !important;
            }
        }
    }
}

.how-it-works {
    background-color: $white;
    color: $darkGrey;
    padding: 20px;
    text-align: center;
    min-height: 400px;
    .home-123 {
        margin-top: 0;
    }
    .home-company-name {
        color: $darkpink;
    }
    .icons {
        font-size: 300%;
        margin-top: 30px;
    }
    .icon-title {
        font-weight: bold;
    }
}

.home-pic-section {
    .home-pic-container {
        margin: 10px;
    }
    .home-pic {
        padding: 0;
        height: 400px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-style: solid;
        border-width: 5px;
        border-color: $white;
    }
    .home-pic-1 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/home-pic-1.jpg?alt=media&token=a8a56cbc-6a5a-4c45-af56-c14ab0a9a7cb');
    }
    .home-pic-2 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/home-pic-2.jpg?alt=media&token=62b59665-3126-480e-9d2e-3bc219039432');
    }
    .home-pic-3 {
        background-image: url('https://firebasestorage.googleapis.com/v0/b/onebloom-cfa9d.appspot.com/o/home-pic-3.jpg?alt=media&token=f52b1539-d1b9-4237-8622-9c3806dfd42f');
    }
    .home-pic-shade {
        background: $black;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .home-pic-default:not(:hover) .home-pic-shade {
        display: none;
    }
    .home-pic:hover .home-pic-shade {
        display: none;
    }
    .home-pic-text {
        color: $white;
        background: $darkpink;
        opacity: 0.8;
        text-align: center;
        padding: 15px;
        width: 100%;
        min-height: 20px;
        position: absolute;
        bottom: 0;
        display: none;
        .home-pic-title {
            font-weight: bold;
            font-size: 120%;
        }
    }
    .home-pic:hover .home-pic-text {
        display: block;
    }
    .home-pic-default:not(:hover) .home-pic-text {
        display: block;
    }
}

.home-about {
    background-color: $white;
    color: $darkGrey;
    padding: 20px;
    text-align: center;
    min-height: 400px;
    .home-about-text {
        margin-top: 25px;
    }
    .home-company-name {
        color: $darkpink;
    }
    .button {
        margin-top: 25px !important;
        height: 40px !important;
        width: 100px !important;
        font-size: 110% !important;
        background-color: $pink !important;
        font-weight: bold !important;
        color: $white !important;
        &:hover {
            background-color: $pinkhover !important;
        }
    }
}

.bar-pink {
    background-color: $darkpink;
    color: $white;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    font-weight: bold;
}

.footer-contact {
    height: 100%;
    width: 100%;
    padding:10px;
    color: $white;
    text-align: center;
    background-color:rgba(0,0,0,0.7);
    ul,li {
        list-style: none;
        padding: 0;
        margin-left: 0;
        margin-top: 10px;
        font-size: 80%
    }
    .footer-title {
        margin-top: 15px;
        font-weight: bold;
        font-size: 85%
    }
}
.footer-end {
    background-color: $white;
    text-align: center;
    padding: 10px;
    .footer-social {
        i {
            color: $darkteal;
            margin-left: 20px;
            font-size: 22px;
            @include transition (.4s ease-in-out);
            &:hover {
                color: $darkpink;
                @include transition (.4s ease-in-out);
            }
        }
    }
    .footer-company-name {
        color: $darkpink;
    }
}

.text-section {
    min-height: 120px;
    border-top: 2px;
    border-bottom: 2px;
    border-color: $lightGrey;
    .section-title {
        margin-top: 20px;
        text-align: center;
        font-size: 150%;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-subtitle {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.horizontal-line {
    width: 90%;
    margin: 15px auto;
    background: #CCC;
    height: 2px;
}