@import "_config.scss";
@import "_floristSignUp.scss";
@import "_login.scss";
@import "_loggedIn.scss";
@import "_textPages.scss";
@import "_list.scss";
@import "_florist.scss";
@import "_arrangement.scss";
@import "_orderHistory.scss";
@import "_photoUpload.scss";

.site-error {
    text-align: center;
    min-height: 400px;
    @include translateY(40%);
}

.admin-message {
    background-color: $darkGrey;
    color: white;
    padding: 5px;
    font-size: 16px;
}

.small-screen-hide {
    @media (max-width: 768px) {
        display: none !important;
    }
}

.large-screen-hide {
    @media (min-width: 769px) {
        display: none !important;
    }
}

.top-bottom-text-margin {
    margin: 10px 0 30px 0;
    color: green;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
} @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-absolute {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid $pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.no-padding {
    padding: 0;
}

header {
    position: relative;
    display: block;
    width: 100%;
    background: $white;
    color: $black;
    height: 70px;
    border-bottom: solid $lightGrey;
    border-width: 1px;
    .logo a {
        position: absolute;
        top: 50%;
        left: 15px;
        color: $black;
        font-size: 150%;
        font-weight: bold;
        @include translateY(-50%);
    }
    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }
    nav .button {
        border-color: $darkpink !important;
        background-color: $darkpink !important;
        color: $white !important;
        @media (max-width: 600px) {
            height: 40px !important;
            padding: 5px !important;
            margin: 2px !important;
        }
        @media (min-width: 601px) {
            margin: 5px !important;
            height: 50px !important;
            font-weight: bold !important;
        }
        &:hover {
            background-color: $darkpinkhover !important;
        }
    }
    nav {
        position: absolute;
        top: 50%;
        @media (max-width: 600px) {
            right: 5px;
        }
        @media (min-width: 601px) {
            right: 15px;
        }
        @include translateY(-50%);    
        ul li {
            list-style-type: none;
            display: inline-block;
            a {
                line-height: normal;
                color: $darkGrey;
                margin-right: 20px;
                &:hover {
                    color:$black;
                }
            }
        }
    }
}

.home-image {
    height: 555px;
    width: 100%;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/OneBloomHome.jpg?alt=media&token=e365bfdd-3791-40c0-aae7-8d570bb5e8d0');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $lightGrey;
    .home-image-prompt {
        background-color:rgba(250,250,250,0.8);
        text-align: center;
        float: right;
        min-height: 200px;
        min-width: 260px;
        max-height: 300px;
        max-width: 400px;
        padding: 20px;
        margin-right: 20px;
        margin-left: 20px;
        @media (max-width: 768px) {
            @include translateY(20%);
        }
        @media (min-width: 769px) {
            @include translateY(70%);
        }
        .home-image-title {
            color: $darkGrey;
            font-weight: bold;
        }
        .home-image-pink {
            color: $darkpink;
            font-size: 16px;
        }
        .home-image-select {
            margin-top: 15px;
            font-size: 16px;
            width: 240px;
            background-color: $white;
            background-position: 0 !important;
        }
        .dropdown {
            .dropdown-menu {
                width: 240px;
                max-height: 250px;
                overflow: scroll;
                font-size: 16px;
            }
        }
        .button {
            margin-left: 10px !important;
            margin-top: 15px !important;
            height: 35px !important;
            background-color: $darkpink !important;
            font-size: 16px !important;
            color: $white !important;
            @media (max-width: 768px) {
                margin-left: 0 !important;
            }
            &:hover {
                background-color: $pinkhover !important;
            }
        }
    }
}

.home-pic-section {
    color: $darkGrey;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    h2 {
        margin-bottom: 25px;
    }
    .home-pic-container {
        margin: auto;
        max-width: 950px;
        background-color: $white;
        color: $darkGrey;
        text-align: center;
        overflow: auto;
        .list-item {
            padding: 10px;
            min-width: 140px;
            max-width: 350px;
            font-size: 90%;
            margin-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 600px) {
                padding: 2px;
                margin-bottom: 20px;
            }
            a {
                color: black !important;
                &:hover {
                    color: $darkpink !important;
                }
            }
            .home-pic-title {
                font-weight: bold;
                margin-top: 10px;
                font-size: 120%;
            }
        }
        .list-pic {
            padding: 0;
            border-radius: 5px;
            min-height: 280px;
            max-height: 350px;
            max-width: 350px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-width: 0;
            border-color: $white;
            border-style: solid;
            margin: auto;
            @media (max-width: 600px) {
                min-height: 240px;
                max-height: 240px;
                max-width: 240px;
            }
        }
        .home-pic-1 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2F-L1vr107M0CSDcoqT0FV.jpg?alt=media&token=00b55c74-ba73-46ca-b6e8-7504e4f14965');
        }
        .home-pic-2 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2F-L4-CVZYQt1Jr2d-d9RM.jpg?alt=media&token=378fc515-e99c-452a-ba7c-b18e26ec39ad');
        }
        .home-pic-3 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2F-L2kc_tressmJYNrkhuX.jpg?alt=media&token=eb96d823-fcf6-4983-9c32-cb4b9142b622');
        }
        .home-pic-4 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2FgigiFloristLogo.jpg?alt=media&token=d4e87203-22ad-4eb3-a4b0-415320dddffa');
        }
        .home-pic-5 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2FOhJoyceLogo.jpg?alt=media&token=622eba53-430e-41b6-957f-744a5d45bf17');
        }
        .home-pic-6 {
            background-image: url('https://firebasestorage.googleapis.com/v0/b/maydaisy-platform.appspot.com/o/Website%20Photos%2FsympleGartenLogo.jpg?alt=media&token=22134d21-90d9-4c8c-83b0-e509de611d4a');
        }
    }
}

.how-it-works {
    background-color: $white;
    color: $darkGrey;
    padding-top: 20px;
    text-align: center;
    min-height: 300px;
    .home-123 {
        margin-top: 0;
    }
    .home-company-name {
        color: $darkpink;
    }
    .icons {
        font-size: 300%;
        margin-top: 30px;
    }
    .icon-description {
        font-size: 16px;
    }
    .icon-title {
        font-weight: bold;
    }
}


.home-about {
    background-color: $white;
    margin: 40px;
    padding-bottom: 35px;
    text-align: center;
    @media (max-width: 600px) {
        margin-left: 15px;
        margin-right: 15px;
    }
    .home-about-text {
        margin: auto;
        max-width: 850px;
    }
    .home-company-name {
        color: $darkpink;
    }
    h2 {
        margin-bottom: 25px;
    }
}

.bar-pink {
    background-color: $darkpink;
    color: $white;
    padding: 10px;
    text-align: center;
    min-height: 50px;
    font-weight: bold;
}

.footer-contact {
    height: 100%;
    width: 100%;
    padding:10px;
    color: $white;
    text-align: center;
    background-color:$darkGrey;
    font-weight: lighter;
    ul,li {
        list-style: none;
        padding: 0;
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px
    }
    .footer-title {
        margin-top: 15px;
        font-weight: normal;
        font-size: 18px;
    }
}
.footer-end {
    background-color: $white;
    text-align: center;
    padding: 10px;
    .footer-social {
        i {
            color: $darkteal;
            margin-left: 20px;
            font-size: 22px;
            @include transition (.4s ease-in-out);
            &:hover {
                color: $darkpink;
                @include transition (.4s ease-in-out);
            }
        }
    }
    .footer-company-name {
        color: $darkpink;
    }
}

.text-section {
    min-height: 120px;
    border-top: 2px;
    border-bottom: 2px;
    border-color: $lightGrey;
    .section-title {
        margin-top: 20px;
        text-align: center;
        font-size: 150%;
        font-weight: bold;
        margin-left: 20px;
        margin-right: 20px;
    }
    .section-subtitle {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 100%;
        margin-left: 50px;
        margin-right: 50px;
    }
}

.horizontal-line {
    width: 90%;
    margin: 15px auto;
    background: #CCC;
    height: 2px;
}